<% include ./partials/header %>
<div class="ui container centered card admin-active space">
        <h1>Admin Portal</h1>
<table class="ui celled table space" id="admin-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Status</th>
        <th>Button</th>
      </tr>
    </thead>
    <tbody>
        <% users.forEach(function(user){ var i=0; %>
      <tr>
            <td>
                <%= user.username %>
            </td>
            <td>
                <%= user.type %>
            </td>
            <% if(user.isActive){ %>
                <td class="positive">
                     Activated
                </td>
                <td>
                    <form action="/admin/<%= user._id %>?_method=PUT" method="POST">
                        <button class="ui mini blue button">Deactivate</button>
                    </form>
                </td>
           <% } else{ %>
                <td class="negative">
                    Not Activated
                </td>
                <td>
                    <form action="/admin/<%= user._id %>?_method=PUT" method="POST">
                        <button class="ui mini blue button">Activate</button>
                    </form>
                </td>
            <% } %>
            
      </tr>
    <% }) %>
    </tbody>
  </table>
  </div>
<% include ./partials/footer %>
