<div class="ui fixed inverted menu" id="header">
  <div class="ui container">
    <div class="header item"><i class="newspaper icon"></i>Blog Site</div>
    <a routerLink="/blogs" class="item">Blogs</a>
    <a routerLink="/blogs/new" class="item">New Post</a>
    <div class="right menu">
      <a *ngIf="!this.authService.user" class="ui item" routerLink="/login">Login</a>
      <a *ngIf="!this.authService.user" class="ui item" routerLink="/signup">Sign Up</a>
      <a *ngIf="this.authService.user" class="ui item">{{ this.authService.user.username }} </a>
      <a *ngIf="this.authService.user" class="ui item" (click)="onLogout()" >Logout</a>        
    </div>
  </div>
</div>
