<div class="ui main text container segment" style="margin-top:70px;">
	<div class="ui huge header">Sign up</div>
	<form class="ui form" (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm" >
		<div class="field">
			<label>Username</label>
			<input type="text" name="username" placeholder="username" ngModel>
		</div>
		<div class="field">
			<label>Password</label>
			<input type="password" name="password" placeholder="password" ngModel>
		</div>
		<div class="field">
			<label>Type</label>
			<select name="type" id="access" ngModel>
				<option value="user">User</option>
				<option value="publisher">Publisher</option>
			</select>
		</div>
		<div class="field">
			<label>Date of Birth</label>
			<input type="date" name="dob" placeholder="DOB" ngModel>
		</div>
		<div class="field">
			<label>Email</label>
			<input type="email" name="email" placeholder="email" ngModel>
		</div>
		<div class="field">
			<label>Phone </label>
			<input type="number" name="phone" placeholder="phone" ngModel>
		</div>
		<button class="ui violet basic big button">Sign Up</button>
	</form>
</div>