<div *ngIf="blog">
	<div class="ui main text container segment">
		<div class="ui huge header">{{ blog.title }}</div>
		<div class="ui top attached">
			<div class="item">
				<img class="ui centered rounded image" [src]="blog.image" >
				<div class="content">
					<span> {{blog.created}}</span>
				</div>
				<div class="description">
					<p> {{ blog.body }} </p>
				</div>
	
				<div class="content">
					<span>Created By:  <b> {{blog.author.username}} </b></span>
				</div>
				<br>
				<div class="ui grid blog-button">
					<div class="four wide column">
							<div class="ui labeled small button" tabindex="0">
								<a (click)="onLike()"  class="ui small blue button">
									<i class="heart icon"></i> Like
								</a>
								<a class="ui basic blue small left pointing label">
									 {{likecount }} 
								</a>
							</div>
						
					</div>
					<div class="three wide column"></div>
					<div class="two wide column"></div>
					<div class="two wide column"></div>
					<div class="two wide column">
						<a class="button ui orange " (click)="onEdit()" >Edit</a>						
					</div>
					<div class="two wide column">
						<a class="ui red button" (click)="onDelete()" >Delete</a>					
					</div>
				</div>
				
				<!-- <% if((blog.author.username === currentUser.username)|| currentUser.type === 'admin'){ %> -->
				<!-- <% } %> -->
			</div>
			<div class="ui fluid icon input">
				<input type="text" name="addComment" #comment placeholder="Comment"  [(ngModel)]="editComment">
				<button class="ui blue button" (click)="onAddComment(comment)" name="comment" ngDefaultControl>{{btnText}}</button>		
			</div>
			
			<div class="comments" *ngFor="let comment of blog.comments">
				<div class="comment">
					
					<!-- <b>{{ comment.author.username }}</b> -->
						<br>
						{{ comment.text }}
						<br>
						<div class="delete">
							<a (click)="onEditComment(comment.text, comment._id)" class="ui orange mini basic button">edit</a>
							<a (click)="onDeleteComment(comment._id)" class="ui red mini basic button">delete</a>						
						</div>
						
				</div>
			</div>
					
			
		</div>
		
	</div>
</div>
