<% include ../partials/header %>

<div class="ui main text container segment">
	<div class="ui huge header">New Blog</div>
	<form class="ui form" action="/blogs/<%=blog._id%>/comments" method="POST">
		<div class="field">
			<label>Text</label>
			<input type="text" name="comment[text]" placeholder="text">
		</div>
		<button class="ui violet basic big button">Submit</button>
	</form>
</div>

<% include ../partials/footer %>
